python_dotenv == 1.0.1
pinecone-client == 5.0.1
crewai == 0.51.1
crewai-tools == 0.12.0

langchain == 0.2.16
langchain-groq == 0.1.9
langchain-core == 0.2.38
langchain-pinecone == 0.1.3
langchain-google-genai == 1.0.8
langchain-huggingface == 0.0.3
langchain-community == 0.2.13

gTTS == 2.5.3
PyPDF2 == 3.0.1
easyocr == 1.7.1
pillow == 10.4.0
opencv-python ==4.10.0.84
pyspellchecker==0.5.6
SpeechRecognition == 3.10.4
markdown2 == 2.5.0
reportlab == 4.2.2
beautifulsoup4 == 4.12.3
pyaudio == 0.2.14
vosk == 0.3.45
# pysqlite3 == 0.5.3
# pysqlite3-binary == 0.5.3
# setuptools == 74.0.0
# wheel == 0.44.0
numpy == 1.26.4